* {
    box-sizing: border-box;
}

body {
    background-color: #0095dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
}

h1 {
    font-size: 45px;
    color: #ffffff;
}


.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background: #222222;
}

.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    color: white;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}

.startGame {
    position: absolute;
    left: 50vh;
    top: 50vh;
    background-color: black;
    color: white;
    text-decoration: bold;
    padding: 15px;
}

.hide {
    opacity: 0;
}




.website {
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.website .ccontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.website ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.website a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.website.active {
    background-color: white;
    box-shadow: 0 2px 10 rgba(0,0,0,.3);
    transition: all 0.3s ease-in-out;
}

.website.active a {
    color: black;
}

.website.active .ccontainer {
    padding: 10px 0;
}

.website a.current,
.website a:hover {
    color: rgb(192,57,43);
    font-weight: bold;
}

.website div.ccontainer.inactive {
    transition: all 0.3s ease-in-out;
    display: none;
}

