@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #516dff;
    color: #ffffff;
    font-family: "Press Start 2P", system-ui;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin .5s ease-in;
}

.btn {
    border: 0;
    background-color: #ffffff;
    color: #516dff;
    padding: 15px 20px;
    cursor: pointer;
    font-family: inherit;

}

.btn:hover {
    opacity: 0.9;
}



.screen.up {
    margin-top: -100vh;
}

a {
    color: white;
}

h1 {
    line-height: 1.4;
}

.insects-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.insects-list li {
    margin: 10px;
}

.choose-insect-btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-insect.btn:hover {
    background-color : #ffffff;
    color: #516dff;
}

.choose-insect-btn:active {
    background-color: rgba(255,255,255, 0.7)
}

.game-container {
    position: relative;
}

.time {
    position: absolute;
    top: 20px;
    left: 20px;
}


.score {
    position: absolute;
    top: 20px;
    right: 20px;
}


.message {
    opacity: 0;
    line-height: 1.7;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
}




.message.visible {
    opacity: 1;
    transform: translate(-50%, 150%)
}


.insect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.insect img {
    width: 100px;
    height: 100px;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}



.website {
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.website .ccontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.website ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.website a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.website.active {
    background-color: white;
    box-shadow: 0 2px 10 rgba(0,0,0,.3);
    transition: all 0.3s ease-in-out;
}

.website.active a {
    color: black;
}

.website.active .ccontainer {
    padding: 10px 0;
}

.website a.current,
.website a:hover {
    color: rgb(192,57,43);
    font-weight: bold;
}

.website div.ccontainer.inactive {
    transition: all 0.3s ease-in-out;
    display: none;
}
